$primaryColor50: hsl(20, 50%, 98%);
$primaryColor100: hsl(13, 31%, 94%);
$primaryColor300: hsl(14, 25%, 72%);
$primaryColor400: hsl(7, 20%, 60%);
$primaryColor500: hsl(12, 20%, 44%);
$primaryColor600: hsl(14, 86%, 42%);
$primaryColor900: hsl(14, 65%, 9%);
$successColor: hsl(159, 69%, 38%);
