@import "./theme";
@import "./responsive";

* {
    scrollbar-width: thin;
    scrollbar-color: $primaryColor300 $primaryColor100;
}

.container {
    padding: 1rem;
    background-color: $primaryColor100;
    > h1 {
        display: none;
    }

    .maxWidth {
        max-width: 1220px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include responsive(lg) {
            grid-template-columns: 1fr 24rem;
            .cart {
                position: sticky;
                top: 5rem;
                max-height: calc(100dvh - 7rem);
            }
        }
    }

    @include responsive(xs) {
        padding: 2rem;
    }
    @include responsive(md) {
        padding: 5rem 2rem 0 2rem;
    }
}
