@import "./theme";
@import "./responsive";

* {
    scrollbar-width: thin;
    scrollbar-color: $primaryColor300 $primaryColor100;
}

.container {
    padding: 1rem;
    background-color: $primaryColor100;

    .maxWidth {
        max-width: 1500px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include responsive(lg) {
            grid-template-columns: 1fr 25rem;
            .cart {
                position: sticky;
                top: 2rem;
                bottom: 2rem;
                max-height: calc(100dvh - 4rem);
            }
        }
    }

    @include responsive(xs) {
        padding: 2rem;
    }
}
