@import "/src/styles/theme";

.container {
    background-color: rgba($color: #000000, $alpha: 0.2);
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    gap: 0.5rem;
    padding: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

    &.open {
        pointer-events: all;
        opacity: 1;

        .modal {
            translate: 0;
        }
    }

    .modal {
        padding: 2rem;
        border-radius: 0.5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 35rem;
        max-height: 100%;
        overflow: hidden;
        translate: 0 -2rem;
        transition: all 0.2s ease-in-out;

        > img {
            width: 3rem;
        }

        .title {
            color: $primaryColor900;
            font-size: 2rem;
            font-weight: 700;
            margin-top: 1rem;
        }
        .subtitle {
            color: $primaryColor500;
            font-size: 1rem;
        }
        .details {
            background-color: $primaryColor100;
            padding: 1rem;
            border-radius: 0.25rem;
            margin-block: 1.5rem;
            overflow: hidden;
            flex: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;

            .productsList {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: 100%;
                overflow: auto;
                padding-right: 0.5rem;
            }

            .product {
                display: flex;
                align-items: center;
                gap: 1rem;
                > img {
                    width: 3rem;
                    aspect-ratio: 1;
                    border-radius: 0.25rem;
                    object-fit: cover;
                    overflow: hidden;
                }

                .name {
                    font-weight: 600;
                    color: $primaryColor900;
                    font-size: 0.9rem;
                }

                .price {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    color: $primaryColor600;
                    margin-top: 0.5rem;
                    font-weight: 600;
                    span {
                        font-weight: 400;
                        color: $primaryColor500;
                    }
                }

                .totalPrice {
                    color: $primaryColor900;
                    font-weight: 600;
                    margin-left: auto;
                }
            }
            hr {
                border: none;
                height: 1px;
                flex-shrink: 0;
                background-color: $primaryColor300;
                opacity: 0.4;
            }
        }
        .totalPrice {
            display: flex;
            color: $primaryColor900;
            font-size: 0.9rem;
            justify-content: space-between;
            align-items: center;
            margin-block: 1.5rem 0.5rem;

            .price {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}

.cta {
    background-color: $primaryColor600;
    color: $primaryColor100;
    padding: 0.75rem 2rem;
    border-radius: 100vh;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        filter: contrast(1.3);
    }
}
