@import "/src/styles/theme";

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: in 0.5s ease-in-out;

    .details {
        display: grid;
        gap: 0.5rem;
    }

    .title {
        color: $primaryColor900;
        font-weight: 600;
    }

    .footer {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $primaryColor500;

        .quantity {
            font-weight: 600;
            color: $primaryColor600;
        }

        .price {
            font-weight: 600;
        }
    }

    .clearButton {
        border: 1px solid $primaryColor500;
        border-radius: 50%;
        width: 1.5rem;
        aspect-ratio: 1;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            filter: brightness(0);
        }
    }
}

@keyframes in {
    0% {
        height: 0;
        transform: translateX(110%);
    }
    10% {
        height: 100%;
        transform: translateX(110%);
    }
    50% {
        height: 100%;
        transform: translateX(0%);
    }
    75% {
        height: 100%;
        transform: translateX(10%);
    }
    80% {
        height: 100%;
        transform: translateX(10%);
    }
    100% {
        height: 100%;
        transform: translateX(0);
    }
}
